"*":
  "bracket-matcher": {}
  core:
    disabledPackages: [
      "archive-view"
      "autocomplete-snippets"
      "background-tips"
      "bookmarks"
      "image-view"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-gfm"
      "language-go"
      "language-java"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-python"
      "language-ruby-on-rails"
      "language-sass"
      "language-toml"
      "markdown-preview"
      "metrics"
      "open-on-github"
      "package-generator"
      "snippets"
      "styleguide"
      "symbols-view"
      "welcome"
      "wrap-guide"
      "click-link"
    ]
    themes: [
      "nucleus-dark-ui"
      "firewatch-syntax"
    ]
  editor:
    fontFamily: "mononoki"
    tabType: "soft"
  "exception-reporting":
    userId: "1f110895-7692-e118-68ee-683147ec8c12"
  welcome:
    showOnStartup: false
