"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "autocomplete-snippets"
      "autoflow"
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "encoding-selector"
      "exception-reporting"
      "grammar-selector"
      "image-view"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-go"
      "language-java"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-python"
      "language-sass"
      "language-todo"
      "language-toml"
      "link"
      "markdown-preview"
      "metrics"
      "package-generator"
      "snippets"
      "spell-check"
      "styleguide"
      "timecop"
      "welcome"
      "wrap-guide"
      "about"
      "archive-view"
      "dalek"
      "keybinding-resolver"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "mononoki"
    fontSize: 13
  "exception-reporting":
    userId: "31de6687-2e0a-4989-a725-a61eecfdda79"
  "file-icons": {}
  "git-diff":
    showIconsInEditorGutter: true
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
